<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FaqDAO">

	<select id="getFaqBoardList" parameterType="com.javaclass.domain.FaqVO" resultType="com.javaclass.domain.FaqVO">
        select * from faq_board
    </select>

	<!-- 질문 등록 -->
	<insert id="insertFaqBoard" parameterType="com.javaclass.domain.FaqVO">
	insert into
	        faq_board(
	            faq_seq
	            , faq_title
	            , faq_writer
	            , faq_content
	            <if test="faq_name != null">
				<!-- 사진 파일이 업로드 되었을때 -->
				, faq_name , faq_realname, faq_fsize
			    </if>
	            , faq_date
	            , faq_tag1
	            , faq_tag2
	            , faq_tag3
	            )
	        values(
	        	faq_board_seq.nextval,
	            #{faq_title}
	            , #{faq_writer}
	            , #{faq_content}
	            <if test="faq_name != null">
	            ,#{faq_name},#{faq_realname},#{faq_fsize}
	            </if>
	            , SYSDATE
	            , #{faq_tag1}
	            , #{faq_tag2}
	            , #{faq_tag3}
	            )
	</insert>
	
	<!-- 글 수정 -->
	 <update id="updateFaqBoard" parameterType="com.javaclass.domain.FaqVO">
	        update faq_board set
	            faq_title = #{faq_title}
	            , faq_writer = #{faq_writer}
	            , faq_content = #{faq_content}
	            , faq_date = SYSDATE
	           <if test="faq_name != null">
				<!-- 사진 파일이 업로드 되었을때 -->
				, faq_name = #{faq_name}
				, faq_realname = #{faq_realname}
				, faq_fsize = #{faq_fsize}
			  </if>
	            , faq_tag1 = #{faq_tag1}
	            , faq_tag2 = #{faq_tag2}
	            , faq_tag3 = #{faq_tag3}
	        where
	            faq_seq = #{faq_seq}
	 </update> 
	 
    <!--  글 삭제 -->
    <delete id="deleteFaqBoard">
        delete from faq_board
        where
            faq_seq = #{faq_seq}
    </delete> 
    
    <!-- 클릭한 게시물 보기 -->
     <select id="selectFaqBoard" parameterType="com.javaclass.domain.FaqVO" resultType="com.javaclass.domain.FaqVO">
        select  faq_seq
	            , faq_title
	            , faq_writer
				, faq_name 
				, faq_realname
				, faq_fsize
	            , faq_content
	            , faq_date
	            , faq_tag1
	            , faq_tag2
	            , faq_tag3
        from faq_board
        where
            faq_seq = #{faq_seq}
    </select> 
    
    	<!-- 목록 전체 보기 -->
	<select id="selectAllFaq" resultType="com.javaclass.domain.FaqVO">
			SELECT faq_seq 
				  , faq_title 
				  , faq_writer 
				  , faq_content
				  , faq_name 
				  , faq_realname
				  , faq_fsize
				  , faq_date
				  , faq_tag1
	              , faq_tag2
	              , faq_tag3 
			FROM faq_board
			ORDER BY faq_seq DESC
	</select>
    

    
</mapper>